*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Estilo para o aviso de desenvolvimento */
.aviso-desenvolvimento {
    background-color: #f1c40f; /* Cor de fundo amarela */
    color: #333; /* Cor do texto */
    text-align: center;
    padding: 10px; /* Espaçamento interno */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Para garantir que fique acima de outros elementos */
    font-size: 18px;
    font-weight: bold;
}

/* Estilo para a imagem centralizada */
.imagem-centralizada {
    text-align: center;
    margin-top: 50px; /* Espaçamento superior para centralizar verticalmente */
}

.imagem-centralizada img {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
}

/* Estilo para o botão de voltar */
.botao-voltar {
    display: inline-block;
    padding: 20px 40px; /* Espaçamento interno para torná-lo grande */
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    text-decoration: none; /* Remover sublinhado de link */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold;
    border-radius: 10px; /* Cantos arredondados */
    cursor: pointer; /* Mostrar cursor de mão ao pairar */
    transition: background-color 0.3s; /* Efeito de transição suave */
}

.botao-voltar:hover {
    background-color: #2980b9; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Estilo para centralizar o botão */
.botao-centralizado {
    text-align: center;
    margin-top: 20px; /* Espaçamento superior para centralizar verticalmente */
}
