*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.principal {
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

#cadastro {
    display: none;
}

body{
    background-color: #009010;
}

section{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

aside{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

footer{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    height: auto;
}