/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #009010;
}

.principal {
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* Cabeçalho */
.header-container {
    text-align: center;
    margin-top: 20px;
}

.header-container img {
    max-width: 100%;
    height: auto;
}
.relogio{
    text-align: center;
    color:black;
    position:absolute;
}

header h2{
    text-align: center;
    color:black;
    display: block;
}

/* Menu */
.menu {
    list-style: none;
    float: left;
    margin-top: 0px;
    width: 100%;
    height: auto;

}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid black;
}

.menu li a {
    color: black; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}


.menu li a:hover{
    background:#009010; 
    color:#fff; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #fff; 
}

.menu li  ul{
    position:relative; 
    top:25px; 
    left:25px;
    background-color:#fff; 
    display:none;
}  

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #c0c0c0; 
    display:block; 
    width:150px;
    }

/* Formulário de Login */
form{
    background-color: white;
    max-width: 1200px;
    width: 60%;
    padding: 10px;
    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

form h3{
    text-align: center;
    color:#009010;
}

form input[type=email],
form input[type=password],
form input[type=text]{
    width: 50%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=submit]{
    width: 50%;
    height: 50px;
    cursor: pointer;
    background: #009010;
    color: white;
    border: 0;
    border-radius: 30px;
    position: relative;
}

form input[type=submit]:hover{
    background-color: #02af09;
    transition: 1s;
}
.index{
    margin-top: 150px;
}

/* Mensagem de erro */
.notification {
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login {
    color: black;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch label {
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background-color: #009010;
    border-radius: 12px;
    transition: 0.3s;
  }
  
  .toggle-switch input[type="checkbox"]:checked + label {
    left: 5%;
    transform: translateX(100%);
  }
